<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sacramento Science Olympiad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <ul role="navigation">
                <li><a href="#">Home</a></li>
                <li><a href="#">Competition Info</a></li>
                <li><a href="#">Registration</a></li>
                <li><a href="#">Invitationals</a></li>
                <li><a href="#">Coaches Info</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Results</a></li>
                <li><a href="#">Questions</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="parent">
        <div class="left">
            <section>
            <h1>Sacramento Science Olympiad</h1>
            <p>The Science Olympiad is an national science competition that features schools from all 50 states with more than 15,000 K-12 schools participating. The goal of the Science Olympiad is to increase K-12 student and teacher participation in Science, Technology, Engineering and Math (STEM). The Science Olympiad competitions feature several STEM related events at the regional, state, and national levels.<br /><br />
            The Sacrament Regional Science Olympiad Tournament for Divisions B and C will be held on March 3, 2018 at Mira Loma High School.<br /><br />
            The Division A tournament will be held on March 17, 2018 at Mira Loma High School.</p>
            </section>
            
            <section>
            <h2>Getting Started</h2>
            <p>Parents can contact the science teachers at their children's school to join or start a team. Teachers can contact James Hill about starting and coaching a team.</p>
            </section>
            
            <section>
            <h2>Announcements</h2>
            <h3>Subject Here (Jan 15 2018)</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
            </section>
        </div>
        <div class="right">
            <section>
                <img src="images/ScienceOlympiad.png" />
            </section>
            
            <section>
                <h2>Contact</h2>
                <address>
                James Hills (Organizer)<br />
                <a href="mailto:jdhill@sanjuan.edu">jdhill@sanjuan.edu</a><br /><br />

                Mira Loma High School<br />
                4000 Edison Avenue<br />
                Sacramento, CA 95821
                </address>
            </section>
            
            <section>
                <h2>More Info</h2>
                <ul>
                    <li><a href="#">National Science Olympiad Website</a></li>
                    <li><a href="#">NorCal Science Olympiad Website</a></li>
                    <li><a href="#">Download the Brochure</a></li>
                </ul>
            </section>
        </div>
    </div>
    
    <footer>
    Thanks to our sponsors
        <ul id="sponsors">
            <li><img src="images/ClassicAwards.png" /></li>
            <li><img src="images/SMUD.gif" /></li>
        </ul>
        <p id="poweredBy">Design by <a href="http://smcummings.com">SMCummings</a> | Made with <a href="https://github.com/sachleen/Steady">Steady</a></p>
    </footer>
</div>
</body>
</html>