<section>
    <h2>Contact</h2>
    <address>
    James Hill (Organizer)<br />
    <a href="mailto:jdhill@sanjuan.edu">jdhill@sanjuan.edu</a><br /><br />

    Mira Loma High School<br />
    4000 Edison Avenue<br />
    Sacramento, CA 95821
    </address>
</section>

<section>
    <h2>Key Dates</h2>
    <ul>
        <li>Churchill Div B Invitational - Dec 7</li>
        <li>Mira Loma Invitational - Jan 11</li>
        <li>Aggie Invitational - Jan 20</li>
        <li>Sacramento Regional - TBD</li>
        <li>NorCal Finals - TBD</li>
    </ul>
</section>

<section>
    <h2>More Info</h2>
    <ul>
        <li><a href="https://www.soinc.org">National Science Olympiad Website</a></li>
        <li><a href="http://www.norcalscienceolympiad.com">NorCal Science Olympiad Website</a></li>
    </ul>
</section>